//--------------------
// Font Size
//--------------------
$fsize-h1: 96px;
$fsize-h2: 60px;
$fsize-h4: 48px;
$fsize-h5: 34px;
$fsize-h6: 24px;

$fsize-subtitle-1: 16px;
$fsize-subtitle-2: 14px;

$fsize-body-1: 16px;
$fsize-body-2: 14px;

$fsize-button  : 14px;
$fsize-caption : 12px;
$fsize-overline: 10px;

//--------------------
// Colors
//--------------------

$black               : #202020;
$text-black-primary  : #252525;
$text-black-secondary: #666666;

$text-white-primary  : #f0f0f0;
$text-white-secondary: #aaaaaa;
$white               : #ffffff;
$white-secondary     : #fafafa;
//--------------------
// Font Weight
//--------------------

$fweight-h1: 300;
$fweight-h2: 300;
$fweight-h3: normal;
$fweight-h4: normal;
$fweight-h5: normal;
$fweight-h6: bold;

$fweight-subtitle-1: normal;
$fweight-subtitle02: bold;

$fweight-body-1: normal;
$fweight-body-2: normal;

$fweight-button  : bold;
$fweight-caption : normal;
$fweight-overline: bold;