html {
  min-height: calc(100% + 200px);
}

#app {
  background-color: $text-white-primary;
  font-family: 'Arial Nova', 'Yu Gothic', '游ゴシック', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}